// Colors
// -------------------------

$lighten: #e1dacc;
$primary: #0b0a06;
$secondary: #1f7d85;

// Sizing
// -------------------------

$header-height: 4rem;

//MONOCHROME: https://huemint.com/website-monochrome/#palette=e1dacc-0b0a06
